{% extends "index/index.html" %}
{% load static %}

{% comment %} css link {% endcomment %}
 {% block css %}
 <link rel="stylesheet" href="{% static "home/css/home.css" %}">
 {% endblock  %}


 {% comment %} Home content {% endcomment %}
  
  {% block content %}
  <div class="container-fluid d-flex align-items-center justify-content-center vh-100" id="main_div">
    <div class="row w-100 d-flex justify-content-around">
      <!-- Profile Image Section -->
      <div class="col-lg-5 col-12 d-flex justify-content-center mb-4 mb-lg-0">
        <div class="profile-container">
          <img src="{{ home_Image.profile_photo.image.url }}" class="img-fluid rotate" alt="profile photo" id="animated-photo">
        </div>
      </div>
  
      <!-- Intro Section -->
      <div class="col-lg-7 col-12 d-flex flex-column justify-content-center align-items-center text-center text-lg-start main_intro_div">
        <div class="intro">
          <p class="self">HEY THERE!</p>
          <h4>I AM DHRUV SHARMA</h4>
          <p class="self">My Portfolio is a representation of all that I've learned and accomplished as a B.C.A student.</p><br>
          <a class="btn btn-primary Resume" download href="{{ home_Image.Resume.content.url }}" title="Resume"><i class="fa fa-download"></i> Download Resume</a>
        </div>
      </div>
    </div>
  </div>
  
  {% endblock %}


 {% comment %} js link {% endcomment %}
  {% block js %}
  <script src="{% static "home/js/home.js" %}"></script>
  {% endblock  %}